* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
}

#clock {
    color: yellow;
    font-size: 20vw; /* Ocupa toda a tela */
    font-weight: bold;
    text-align: center;
}
