body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Container centralizado */
.container {
    text-align: center;
    padding: 20px;
}

/* Estiliza o botão */
button {
    padding: 12px 25px;
    font-size: 18px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
}