/* Estiliza o corpo da página */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}

/* Container centralizado */
#container {
    padding: 20px;
    border-radius: 10px;
    width: 300px;
}

/* Estiliza os inputs */
input {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background: transparent;
    transition: border-color 0.3s;
}

/* Efeito ao focar no input */
input:focus {
    border-bottom: 2px solid #3498db;
}

/* Estiliza os inputs com erro */
input.error {
    border-bottom: 2px solid red;
    background-color: transparent;
}


/* Estiliza a mensagem de erro */
.error-message {
    color: red;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

/* Estiliza o botão */
button {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

/* Efeito ao passar o mouse */
button:hover {
    background-color: #2980b9;
}
